<div class="navbar-fixed">  
  <nav>
    <div class="nav-wrapper">
      <li class="brand-logo"><i class="material-icons">cloud</i>Containers DB</li>
      <ul class="right hide-on-med-and-down">
       {{!-- {{#if isLogin}} 
       {{else}} --}}
          {{#if isHome}}
          <li class="active" title="to main page">
            <a href="/">
              <i class="material-icons">pan_tool</i>
            </a>
          </li>
          {{!-- {{else}}
          <li title="to main page">
            <a href="/">
              <i class="material-icons">pan_tool</i>
            </a>
          </li> --}}
          {{/if}}
          {{#if isAdd}}
          <li class="active" title="add container manualy">
            <a href="/add">
              <i class="large material-icons" "dropdown-trigger">add</i>
            </a>
          </li>
          {{!-- {{else}}
          <li title="add container manualy">
            <a href="/add">
              <i class="large material-icons" "dropdown-trigger">add</i>
            </a>
          </li> --}}
          {{/if}}
          {{#if isContainers}} 
          {{#if isPlan}}
          <li class="active" title="make daily prospect">
            <a class="addToActualPlan">
              <i class="material-icons">note</i>
            </a>
          </li>  
          {{!-- {{else}}
          <li title="make daily prospect">
            <a class="addToActualPlan">
              <i class="material-icons">note</i>
            </a>
          </li>   --}}
          {{/if}}
          
          <li class="active" title="to containers">
            <a href="/containers">
              <i class="material-icons">view_module</i>
            </a>
          </li>
          {{!-- {{else}}
          <li title="to containers">
            <a href="/containers">
              <i class="material-icons">view_module</i>
            </a>
          </li> --}}
          {{/if}}
          <li title="add from *.xlsx, *.xls file">
            <form action="/add-many" enctype="multipart/form-data">          
              <label for="add-containers-from-table">
                <input id="add-containers-from-table" type="file" accept=".xlsx, .xls" hidden enctype="multipart/form-data">
                  <a type="file" class="">
                    <i class="material-icons">file_download</i>
                  </a>
              </label>
            </form>
          </li>
        {{!-- {{/if}}     --}}
      </ul>
    </div>
  </nav>  
</div>