<title>{{container.number}}</title>
<body>
    <div class="container">
         {{!-- ADD EDIT HREF --}}
        <h1>{{container.number}}</h1>
        <h2>{{container.size}}</h2>
        <h1>{{container.status}}</h1>
        <h2>{{container.client}}</h2>
        <h2>{{container.POL}}</h2>
        <h2>{{container.POD}}</h2>
        <h2>{{container.line}}</h2>
        <h2>{{container.BL}}</h2>
        <h2>{{container.vessel}}</h2>
        <h2>{{container.FD}}</h2>
        <h2>{{container.weight}}</h2>
        <h2>{{container.cargo}}</h2>
        <h2>{{container.driver}}</h2>
        <h3>{{container.coments}}</h3>
        <h3 hidden>{{container.id}}</h3>
    </div>
    {{!-- ADD DEL BUTTON --}}

   
</body>
