<div class="row admin">
  <div class="col m12">
    <ul class="tabs">
      <li class="tab col m4" title="users list">
        <a class="existingUsers" href="#existing-users">
          <i class="medium material-icons">people</i>
        </a>
      </li>
      <li
        class="tab col m4 disabled"
        id="changeUserData"
        title="change existing user"
      >
        <a class="changeUserData" href="#change-existing">
          <i class="medium material-icons">person</i>
        </a>
      </li>
      <li class="tab col m4" title="add new user">
        <a href="#add-new">
          <i class="medium material-icons">person_add</i>
        </a>
      </li>
    </ul>
  </div>

  <div id="existing-users" class="col m12">
    {{#if users.length}}
      <table class="striped highlight centered">
        <input id="_csrf" name="_csrf" value="{{@root.csrf}}" hidden />
        {{#each users}}
          <tbody>
            <tr>
              <td class="name">{{name}}</td>
              <td class="login">{{login}}</td>
              <td class="editUserButton" title="edit user">
                <i class="material-icons">edit</i>
              </td>
              <td class="deleteUserButton" title="To trash">
                <i class="material-icons">delete_forever</i>
              </td>
              <td class="id" hidden>{{id}}</td>
            </tr>
          </tbody>
        {{/each}}
      </table>
    {{else}}
      <p>Nothing there</p>
    {{/if}}
  </div>

  <div id="change-existing" class="col s6 offset-s3">
    <form action="/admin/change-existing" method="POST">
      <div class="input-field">
        <input
          id="name"
          name="name"
          type="text"
          class="validate"
          class="autocomplete"
        />
        <label for="name">Name</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div class="input-field">
        <input
          id="email"
          name="email"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="email">E-mail</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div class="input-field">
        <input
          id="department"
          name="department"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="department">Department</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div class="input-field">
        <input
          id="login"
          name="login"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="login">Login</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div class="input-field">
        <input
          id="password"
          name="password"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="password">Password</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div class="input-field">
        <input
          id="confirmPassword"
          name="confirmPassword"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="confirmPassword">Confirm Password</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <input name="_csrf" value="{{csrf}}" hidden />
      <div class="row center-align">
        <button class="btn btn-primary" type="submit">SAVE CHANGES</button>
      </div>
      <input id="_id" name="_id" type="text" class="_id" hidden />
    </form>
  </div>

  <div id="add-new" class="col s6 offset-s3">
    <form action="/admin/add-new" method="POST">
      <div class="input-field">
        <input
          id="name"
          name="name"
          type="text"
          class="validate"
          autocomplete="off"
        />
        <label for="name">Name</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div class="input-field">
        <input
          id="email"
          name="email"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="email">E-mail</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div class="input-field">
        <input
          id="department"
          name="department"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="department">Department</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div class="input-field">
        <input
          id="login"
          name="login"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="login">Login</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div class="input-field">
        <input
          id="password"
          name="password"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="password">Password</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div class="input-field">
        <input
          id="confirmPassword"
          name="confirmPassword"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="password">Confirm Password</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <input name="_csrf" value="{{csrf}}" hidden />
      <div class="row center-align">
        <button class="btn btn-primary" type="submit">ADD NEW</button>
      </div>
    </form>
  </div>
</div>
<script src="/admin.js"></script>