<div class="row driver">
  <div class="col m12">
    <ul class="tabs">
      <li class="tab col m4" title="drivers list">
        <a class="existingDrivers" href="#existing-drivers">
          List
        </a>
      </li>
      <li
        class="tab col m4 disabled"
        id="changeDriverData"
        title="change existing driver"
      >
        <a class="changeDriverData" href="#change-existing">
          Edit
        </a>
      </li>
      <li class="tab col m4" title="add new driver">
        <a href="#add-new">
          Add
        </a>
      </li>
    </ul>
  </div>

  <div id="existing-drivers" class="col m12">
    {{#if drivers.length}}
      <table class="striped highlight centered">
        <input id="_csrf" name="_csrf" value="{{@root.csrf}}" hidden />
        {{#each drivers}}
          <tbody>
            <tr>
              <td class="firstName">{{firstName}}</td>
              <td class="lastName">{{lastName}}</td>
              <td class="passport">{{passport}}</td>
              <td class="passport">{{DOB}}</td>
              <td class="vehicle">{{vehicle}}</td>
              <td class="trailer">{{trailer}}</td>
              <td class="carrier">{{carrier}}</td>
              <td class="phone">{{phone}}</td>
              <td class="editDriverButton" title="edit driver information">
                <i class="material-icons">edit</i>
              </td>
              <td class="deleteDriverButton" title="To trash">
                <i class="material-icons">delete_forever</i>
              </td>
              <td class="id" hidden>{{id}}</td>
            </tr>
          </tbody>
        {{/each}}
      </table>
    {{else}}
      <p>Nothing there</p>
    {{/if}}
  </div>

  <div id="change-existing" class="col s6 offset-s3">
    <form action="/driver/change-existing" method="POST">
      <div>
        <input id="firstName" name="firstName" type="text" class="validate" />
        <label for="firstName">firstName</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div>
        <input
          id="lastName"
          name="lastName"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="lastName">lastName</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div>
        <input
          id="passport"
          name="passport"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="passport">passport</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div>
        <input
          id="DOB"
          name="DOB"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="DOB">DOB</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div>
        <input
          id="vehicle"
          name="vehicle"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="vehicle">vehicle</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div>
        <input
          id="trailer"
          name="trailer"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="trailer">trailer</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div>
        <input
          id="carrier"
          name="carrier"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="carrier">carrier</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div>
        <input
          id="phone"
          name="phone"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="phone">phone</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <input name="_csrf" value="{{csrf}}" hidden />
      <div class="row center-align">
        <button class="btn btn-primary" type="submit">SAVE CHANGES</button>
      </div>
      <input id="_id" name="_id" type="text" class="_id" hidden />
    </form>
  </div>

  <div id="add-new" class="col s6 offset-s3">
    <form action="/driver/add-new" method="POST">
      <div>
        <input id="firstName" name="firstName" type="text" class="validate" />
        <label for="firstName">firstName</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div>
        <input
          id="lastName"
          name="lastName"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="lastName">lastName</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div>
        <input
          id="passport"
          name="passport"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="passport">passport</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div>
        <input
          id="DOB"
          name="DOB"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="DOB">DOB</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div>
        <input
          id="vehicle"
          name="vehicle"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="vehicle">vehicle</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div>
        <input
          id="trailer"
          name="trailer"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="trailer">trailer</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div>
        <input
          id="carrier"
          name="carrier"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="carrier">carrier</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <div>
        <input
          id="phone"
          name="phone"
          type="text"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="phone">phone</label>
        <span
          class="helper-text"
          data-error="wrong"
          data-success="right"
        ></span>
      </div>
      <input name="_csrf" value="{{csrf}}" hidden />
      <div class="row center-align">
        <button class="btn btn-primary" type="submit">ADD NEW</button>
      </div>
    </form>
  </div>
</div>
<script src="/drivers.js"></script>