<div class="row">
  <div class="col m12">
    <ul class="tabs">
      <li class="tab col m4" 
        title="containers without driver">
        <a class="allContainers" href="#containers-for-planning">
          Container list
        </a>
      </li>
      <li class="tab col m4" id="set-ready-driver"
        title="set ready driver">
        <a class="ready-drivers" href="#ready-drivers">
          Driver list
        </a>
      </li>
      <li class="tab col m4" id="daily-planing"
        title="daily planning containers">
        <a class="dailyPlan" href="#planning">
          Planning list
        </a>
      </li>
    </ul>
  </div>

  <div id="containers-for-planning" class="col m12">
  {{#if containersForPlanning.length}}
  <input id="_csrf" name="_csrf" value="{{@root.csrf}}" hidden />
  <table class="striped highlight centered">
    <tbody>
    {{#each containersForPlanning}}      
        <tr>
          <td class="title">{{number}}</td>
          <td class="size">{{size}}</td>
          <td class="status">{{status}}</td>
          <td class="client">{{client}}</td>
          <td class="POL">{{POL}}</td>
          <td class="POD">{{POD}}</td>
          <td class="FD">{{FD}}</td>
          <td class="line">{{line}}</td>
          <td class="vessel">{{vessel}}</td>          
          <td class="downtime">{{downtime}}</td>
          <td class="weight">{{weight}}</td>
          <td class="cargo">{{cargo}}</td>
          <td class="comments">{{comments}}</td>
          <td class="planing" title="Add to plan">
            <label>
              <input type="checkbox" id="planing" name="planed" value={{id}} />
              <span></span>
            </label>
          </td>
          {{!-- <td class="editContainerButton" title="Edit">
            <i class="material-icons">edit</i>
          </td>
          <td class="deleteContainerButton" title="To trash">
            <i class="material-icons">delete_forever</i>
          </td> --}}
          <td class="status" hidden>{{id}}</td>
        </tr>      
      {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>Nothing there</p>
  {{/if}}
  </div>

  <div id="ready-drivers" class="col m12">
    <input id="_csrf" name="_csrf" value="{{@root.csrf}}" hidden />
    <table class="striped highlight">
      <tbody id="redyDrivers">
      </tbody>
    </table>
  </div>


  <div id="planning" class="col m12">
    <input id="_csrf" name="_csrf" value="{{@root.csrf}}" hidden />
    <table class="striped highlight">
      <tbody id="makePlan">        
      </tbody>    
    </table>
    <div class="row center-align">
      <button class="btn btn-primary make-plan" >make plan</button>
    </div>
  </div>


<script src="/planning.js"></script>