{{!-- {{#if containersForPlanning.length}}
  <input id="_csrf" name="_csrf" value="{{@root.csrf}}" hidden />
  <table class="striped highlight centered">

    {{#each containersForPlanning}}
      <tbody>
        <tr>
          <td class="title">{{number}}</td>
          <td class="size">{{size}}</td>
          <td class="status">{{status}}</td>
          <td class="client">{{client}}</td>
          <td class="POL">{{POL}}</td>
          <td class="POD">{{POD}}</td>
          <td class="FD">{{FD}}</td>
          <td class="BL">{{BL}}</td>
          <td class="line">{{line}}</td>
          <td class="vessel">{{vessel}}</td>
          <td class="driver">{{driver}}</td>
          <td class="weight">{{weight}}</td>
          <td class="cargo">{{cargo}}</td>
          <td class="comments">{{comments}}</td>
          <td class="planing" title="Add to plan">
            <label>
              <input type="checkbox" class="plan" name="planed" value={{id}} />
              <span></span>
            </label>
          </td>
          <td class="editContainerButton" title="Edit">
            <i class="material-icons">edit</i>
          </td>
          <td class="deleteContainerButton" title="To trash">
            <i class="material-icons">delete_forever</i>
          </td>
          <td class="status" hidden>{{id}}</td>
        </tr>
      </tbody>
    {{/each}}
  </table>
{{else}}
  <p>Nothing there</p>
{{/if}} --}}

  <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>
  
  <!-- Dropdown Structure -->
  
  <ul id='dropdown1' class='dropdown-content'>
    {{#each containersForPlanning}}
    <li class="data">{{number}}</li>
    {{/each}}
  </ul>

   {{!-- <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          {{!-- <i class="material-icons prefix">textsms</i> --}}
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Autocomplete</label>
        </div>
      </div>
    </div>
  </div> --}}

<script src="/planning.js"></script>